$background: #101014;
$card-background: #1a1d20;
$neon: #b5ff55;
$red: #e12719;
$form-border: #262629;
$formBorder: #262629;
$form-warning: #d9601d;
// text colors
$text-dark: #6e6e6f;
$text-gray: #bbbbbb;
$text-gray-secondary: #a7a7a7;
$text-secondary: #ececec;
// icons
$icon-fill: #484848;
