@import "wrapper";
.profile__input {
  max-width: min-content;
  @apply mx-auto;
  .icon__container {
    position: relative;
    .image__preview {
      height: 128px;
      width: 128px;
      border-radius: 50%;
    }
  }

  p {
    @include caption-medium;
    color: $text-dark;
    white-space: nowrap;
  }
  .fileInput::-webkit-file-upload-button {
    visibility: hidden;
  }
  .fileInput::before {
    content: "Choose Profile picture";
    @include caption-medium;
    color: $text-dark;
    white-space: nowrap;
    display: inline-block;
    user-select: none;
    cursor: pointer;
  }
}
// ---------------------- Button---------------------
.create__btn__true,
.create__btn__false {
  @apply mx-auto;
  width: 16rem;
  padding: 1rem 0;
  border-radius: 9px;
  color: #fff;
  @include body;
}
.create__btn__true {
  opacity: 100%;
  background-color: $neon;
  color: $background;
  font-weight: 500;
  box-shadow: 1px 4px 45px rgba(238, 238, 238, 0.45);
}
.create__btn__false {
  opacity: 27%;
  background-color: $card-background;
}
