@import "wrapper";
.__form {
  padding: 1rem 8rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  user-select: none;
  .__label {
    color: $text-dark;
    @include body-secondary;
    font-weight: medium;
  }
  input,
  .input__true {
    outline: none;
    background: transparent;
    border-radius: 4px;
    border: 1.5px solid $form-border;
    margin-top: 0.75rem;
    padding: 0.75rem 1rem;
    width: 100%;
    @include text;
    &:focus {
      border-color: $text-secondary;
    }
  }
  .input__true {
    border-color: $form-warning;
    &:focus {
      border-color: $form-warning;
    }
  }
  .warning__container {
    display: flex;
    column-gap: 0.5rem;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    // border: 1px solid red;
    .form__warning {
      @include caption;
      font-style: normal;
      color: $form-warning;
    }
  }
}
.profile__input {
  max-width: min-content;
  @apply mx-auto;
  .icon__container {
    position: relative;
    .user__icon {
      @apply h-24 w-24 mx-auto;
      fill: $icon-fill;
      cursor: pointer;
      &:hover {
        fill: $text-dark;
        .camera__icon {
          opacity: 0;
        }
      }
    }
    .camera__icon {
      @apply w-4 h-4;
      right: 15%;
      top: 60%;
      position: absolute;
      fill: $text-gray;
      z-index: 2;
    }
  }

  p {
    @include caption-medium;
    color: $text-dark;
    white-space: nowrap;
  }
}
// -------------------- name-------------------
.name {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  > * {
    flex-basis: 0;
    flex-grow: 1;
  }
}

// ---------------------eyeicon-----------------------
.input__container {
  position: relative;
  display: flex;
}
.__eyeicon {
  @apply w-5 h-5;
  position: absolute;
  bottom: 25%;
  right: 1rem;
  cursor: pointer;
  fill: $text-dark;
}
.terms {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  .__text-true,
  .__text-false {
    margin-bottom: 0.1rem;
    @include caption-medium;
    color: $text-gray;
    cursor: pointer;
    &:hover {
      color: $text-secondary;
      text-decoration: underline;
    }
  }
  .__text-true {
    color: $text-secondary;
  }
}
// ---------------------- Button---------------------
.create__btn__true,
.create__btn__false {
  @apply mx-auto;
  width: 16rem;
  padding: 1rem 0;
  border-radius: 9px;
  color: #fff;
  @include body;
}
.create__btn__true {
  background-color: #fff;
  color: $background;
  font-weight: 500;
  box-shadow: 1px 4px 45px rgba(238, 238, 238, 0.45);
}
.create__btn__false {
  opacity: 27%;
  background-color: $card-background;
}
// =------------------Login---------------------
.__login {
  @apply flex;
  @include caption;
  cursor: pointer;
  .neon {
    color: $neon;
    margin-left: 0.25rem;
  }
}
