@import "wrapper";
.home-container {
  user-select: none;
  @apply container mx-auto;
  height: 100vh;
  max-height: 900px;
  position: relative;
  .section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.subtitle {
  @apply w-full text-center;
  @include subtitle-md;
  color: $text-dark;
  margin-top: 3rem;
}

.button {
  @apply w-full;
  @include subtitle-md;
  text-transform: uppercase;
  color: $text-gray;
  margin-top: 12rem;
}
