@import "wrapper";
.login__container {
  @apply container mx-auto;
  height: 100vh;
  position: relative;
  .__main {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    & > * {
      flex-basis: 0;
      flex-grow: 1;
    }
    .__background {
      padding: 3.2rem;
      background-image: url("../assets/cntower__tinted.png");
      background-position: 80% 70%;
      position: relative;
      .__body {
        position: absolute;
        top: 70%;
        h1 {
          @include title-inter;
        }
        p {
          @include body;
          margin-top: 2rem;
          max-width: 488px;
        }
      }
    }
  }
}
.__loginForm {
  position: relative;
  padding: 1rem 8rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
  .__label {
    color: $text-dark;
    @include body-secondary;
    font-weight: medium;
  }
  input {
    outline: none;
    background: transparent;
    border-radius: 4px;
    border: 1.5px solid $text-secondary;
    margin-top: 0.75rem;
    padding: 0.75rem 1rem;
    width: 100%;
    @include text;
    &:focus {
      border-color: $text-gray;
    }
  }
}
.email {
  margin-top: 9rem;
}
// ---------------------eyeicon-----------------------
.input__container {
  position: relative;
  //   border: 1px solid red;
  display: flex;
}
.__eyeicon {
  @apply w-5 h-5;
  position: absolute;
  bottom: 25%;
  right: 1rem;
  cursor: pointer;
  fill: $text-dark;
}
// ---------------------- Button---------------------
.create__btn__true,
.create__btn__false {
  @apply mx-auto;
  width: 16rem;
  padding: 1rem 0;
  border-radius: 9px;
  color: #fff;
  @include body;
}
.create__btn__true {
  background-color: #fff;
  color: $background;
  font-weight: 500;
  box-shadow: 1px 4px 45px rgba(238, 238, 238, 0.45);
}
.create__btn__false {
  opacity: 27%;
  background-color: $card-background;
}
// =------------------Login---------------------
.__login {
  @apply flex;
  @include caption;
  cursor: pointer;
  .neon {
    color: $neon;
    margin-left: 0.25rem;
  }
}
