@import "wrapper";
.memories-container {
  @apply container mx-auto;
  .nav {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
  }
  .logout__btn {
    @include caption;
    font-weight: 500;
    font-size: 13px;
    padding: 0.5rem 1rem;
    background-color: $card-background;
    text-transform: uppercase;
    border-radius: 18px;
    &:hover {
      background-color: #fff;
      color: $form-border;
    }
  }
  .main {
    display: flex;
    justify-content: center;
  }
}
.pagination__container {
  display: flex;
  padding: 0 auto;
  gap: 1rem;
  margin-bottom: 0.5rem;
  button {
    @include caption;
    border-radius: 6px;
    background-color: $card-background;
    padding: 0.4rem 0.8rem;
    &:hover {
      background-color: #fff;
      color: $card-background;
    }
  }
  .active {
    background-color: #fff;
    color: $card-background;
  }
}
