@import "wrapper";
.container__styles {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  margin: 2rem 0;
  user-select: none;
}
.post__container {
  height: 300px;
  max-width: 500px;
  border-radius: 9px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    .creator__name,
    .description,
    .post__title,
    .edit__Section {
      visibility: visible;
    }
  }
}
.creator__info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.post__title {
  @include body;
  font-size: 500;
  margin: 0.6rem 0;
  visibility: hidden;
}
.description {
  @include caption;
  visibility: hidden;
}
.creator__name {
  visibility: hidden;
}
.like__count {
  margin-top: auto;
  @include caption;
  justify-self: flex-end;
  display: flex;
  gap: 0.4rem;
  cursor: pointer;
  width: fit-content;
}
.edit__Section {
  visibility: hidden;
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.21s;
  button {
    padding: 0.5rem;
    border-radius: 9px;
    transform: scale(1.04);
  }
  .edit {
    background-color: $blue;
  }
  .trash {
    background-color: $red;
  }
}
