@import "wrapper";
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  //   border: 1px solid red;
  z-index: 100;
  background: rgba(16, 16, 20, 0.7);
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: $background;
    padding: 1rem 2rem;
    border-radius: 12px;
    .button__container {
      margin-bottom: 1rem;
      display: flex;
      gap: 2rem;
      align-items: center;
    }
    .submit {
      width: 75%;
      padding: 0.5rem;
      border-radius: 9px;
      color: #fff;
      @include body;
      font-size: 1rem;
      &:hover {
        background-color: $neon;
        color: $card-background;
      }
    }
    .close {
      width: 25%;
      @include caption;
      background-color: $card-background;
      max-width: min-content;
      padding: 0.5rem 1rem;
      // align-self: flex-end;
      border-radius: 9px;
      text-transform: uppercase;
      font-weight: 500;
      &:hover {
        background-color: #fff;
        color: $background;
      }
    }
    .title,
    .textarea {
      background-color: $card-background;
      border-radius: 12px;
      padding: 1rem 2rem;
      @include body;
      &:focus {
        outline: none;
      }
    }
    .title {
      margin-bottom: 1rem;
      font-size: 16px;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .textarea::-webkit-scrollbar {
      display: none;
    }
    .textarea {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
.file__input input {
  width: 100%;
  background-color: $card-background;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin-top: 1rem;
  border: 0.6px dashed #6e6e6f;
}
.file__input input::-webkit-file-upload-button {
  visibility: hidden;
}
.file__input input::before {
  content: "Upload Photo";
  @include body;
  font-weight: 500;
  color: $text-dark;
  white-space: nowrap;
  display: inline-block;
  user-select: none;
  cursor: pointer;
}
.image__preview {
  border-radius: 9px;
  margin-top: 1rem;
  max-height: 500px;
}
