@import "wrapper";
.logo {
  max-width: min-content;
  @apply min-w-max flex justify-center items-center;
  font-family: $LOGO-font;
  letter-spacing: 1.45em;
  user-select: none;
}
// --------------------Create Account---------------------
.create-account {
  // max-width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    @include subtitle-md;
    background-color: $card-background;
    border-radius: 9px;
    padding: 0.75rem 6rem;
    &:hover {
      background-color: $text-secondary;
      color: $card-background;
    }
  }
  a {
    @apply flex;
    margin-top: 1.25rem;
    @include caption;
    cursor: pointer;
    .neon {
      color: $neon;
      margin-left: 0.25rem;
    }
  }
}
// --------------------Add Post---------------------
.add-post {
  display: flex;
  justify-content: space-between;
  background-color: $card-background;
  border-radius: 0.75rem;
  width: 600px;
  padding: 1rem 2rem;
  @include body;
  color: $text-dark;
  user-select: none;
  &:hover {
    background-color: $text-dark;
    cursor: pointer;
  }
}
